DEBUG=True
SECRET_KEY=secret_random_string

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,django
#DB
DATABASE_URL=postgresql://irelandaq:irelandaq@db:5432/irelandaq
POSTGRES_DB=irelandaq
POSTGRES_USER=irelandaq
POSTGRES_PASSWORD=password
# Airflow
AIRFLOW_BASE_URL=http://airflow-webserver:8080
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://irelandaq:irelandaq@db:5432/airflow
AIRFLOW__CORE__FERNET_KEY=fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=secret_random_string
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth
# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000